<div class="container">
		<div class="row">
				<h2>Resend confirmation instructions</h2>
		</div>
		<div class="row">
				<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
				<%= devise_error_messages! %>
				<div class="input-group mb-3">
						<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">@</span>
						</div>
						<%= f.text_field :username, class: "form-control", placeholder: "Username or Email" %>
				</div>
				<div class="actions">
						<%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
				</div>
				<% end %>
		</div>
		<div class="row">
				<%= render "devise/shared/links" %>
		</div>
</div>