<div class="container">
		<div class="row">
				<div class="col-sm-12">
						<h2>Resend confirmation instructions</h2>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
						<%= devise_error_messages! %>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<%= f.text_field :username, class: "form-control", placeholder: "Username or Email" %>
						</div>
						<div class="actions">
								<%= f.submit "Resend confirmation instructions", class: "btn btn-primary" %>
						</div>
						<% end %>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= render "devise/shared/links" %>
				</div>
		</div>
</div>