<div id="demo" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<!-- The slideshow -->
		<div class="carousel-inner">
				<div class="carousel-item active">
						<%= image_tag @sortevents.first.image_url %>
						<div class="carousel-caption">
								<h3><%= @sortevents.first.name %></h3>
								<p style="background: black; display: inline;">
										<%= @sortevents.first.description.first(180) %>
								</p>
						</div>
				</div>
				<% @sortevents.drop(1).each do |event| %>
				<div class="carousel-item">
						<%= image_tag event.image_url %>
						<div class="carousel-caption">
								<h3><%= event.name %></h3>
								<p style="background: black; display: inline;">
										<%= event.description.first(180) %>
								</p>
						</div>
				</div>
				<% end %>
		</div>
		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>
<!-- About Section -->
<div class="container-fluid" id="about">
		<div class="row">
				<div class="col-lg-8 mx-auto">
						<h2 class="text-white mb-4">Find Music Near You</h2>
						<p class="text-white-50">Welcome to Ticsound where you can find all the hottest music events. You can also post your own event. Everything we do helps people discover, book and share what Singapore has to offer. From our powerful content and top-quality curation of music to the imagination of our live events – no one knows the city like us.</p>
				</div>
		</div>
      </div>