
<div class="container">

	<div class="d-flex justify-content-end">
			<div class="p-2"><p>Username: <%= @user.username %> </p></div>
			<div class="p-2"><p>Date: <%= Time.now.strftime("%m/%d/%Y")%></p></div>
	</div>


	<div class="row justify-content-center" style="border-bottom: 1px solid lightgrey">
			<h2><strong>My Events</strong></h2>
	</div>

    <div class="row">
        <% @myevents.each do |event| %>
        <div class="col-sm-6">
            <div class="card" style="margin-top: 20px;">
            	<div class="card-header" style="padding: 0;">
            			<img class="card-img" src="<%= event.image %>" alt="Card image"/>
          			</div>
                <div class="card-body" style="padding: 10px;"><strong><%= event.name %></strong></div>
                <div class="card-footer" style="padding: 0px 10px 0px 10px; text-align: right;"><%= link_to "Edit Your Event", edit_event_path(id: event.id)%> | <%= link_to "Delete", event_path(id: event.id), method: :delete %></div>
            </div>
            </div>
            <%end%>
        </div>


		<div class="row justify-content-center" style="margin-top: 20px; border-bottom: 1px solid lightgrey">
	        <h2><strong>My Favourites</strong></h2>
	  </div>


		<div class="row">
        <% @favourites.each do |favourite| %>
         <div class="col-sm-6">
         		<div class="card" style="margin-top: 20px;">
                <div class="card-header" style="padding: 0;"><img class="card-img" src="<%=favourite.event.image %>" alt="Card image"/></div>
                <div class="card-body" style="padding: 10px;"><strong><%=favourite.event.name %></strong></div>
                <div class="card-footer" style="padding: 0px 10px 0px 10px; text-align: right;" ><%= link_to "Delete Fav", delete_fav_path(id: favourite.id), method: :delete %></div>
            </div>
        </div>
    <%end%>
		</div>

</div>
<script type="text/javascript">
	window.onload = getLocation();
</script>