<div class="container">
		<div class="row">
				<div class="col-sm-12">
						<h2>Change your password</h2>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
						<%= devise_error_messages! %>
						<%= f.hidden_field :reset_password_token %>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Password</span>
								</div>
								<%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control" %>
						</div>
								<% if @minimum_password_length %>
								<div class="alert alert-success">(<%= @minimum_password_length %> characters minimum)</div><br />
								<% end %>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Confirm Password</span>
								</div>
								<%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
						</div>
						<div class="actions">
								<%= f.submit "Change my password", class: "btn btn-primary" %>
						</div>
						<% end %>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= render "devise/shared/links" %>
				</div>
		</div>
</div>