<%= form_with scope: :event, model: @event, local: true do |form| %>

	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p>

	<p>
		<%= form.label :venue %><br>
		<%= form.text_field :venue %>
	</p>

	<p>
		<%= form.label :address %><br>
		<%= form.text_field :address %>
	</p>

	<p>
		<%= form.label :ticket_url %><br>
		<%= form.text_field :ticket_url %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_field :description %>
	</p>

	<p>
		<%= form.label :starttime %><br>
		<%= form.datetime_field :starttime %>
	</p>

	<p>
		<%= form.label :endtime %><br>
		<%= form.datetime_field :endtime %>
	</p>

	<p>
		<%= form.label :image %><br>
		<% if @event.image? %>
		<%= image_tag(@event.image_url) %><br>
		<%= form.check_box :remove_image %> Remove Image<br>
		<% end %>
		<%= form.file_field :image %>
	</p>

	<p>
		<%= form.submit %>
	</p>
<% end %>