 <div class = "todayEvent">
        <h1>Happening Today</h1>
    </div>


<div id="demo" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ul class="carousel-indicators">
				<li data-target="#demo" data-slide-to="0" class="active"></li>
				<li data-target="#demo" data-slide-to="1"></li>
				<li data-target="#demo" data-slide-to="2"></li>
		</ul>
		<!-- The slideshow -->
		<div class="carousel-inner" >
				<div class="carousel-item active ">
						<div class = "pic"><%= image_tag @events.third.image_url  %></div>
						<div class="carousel-caption">
                        <h3><%= @events.third.name %></h3>
								<p style="background: black; display: inline;">
										<%= @events.third.description.first(180) %>
								</p>
						</div>
				</div>
				<% @events.drop(3).take(2).each do |event| %>
				<div class="carousel-item ">
						<div class = "pic"><%= image_tag event.image_url %></div>
						<div class="carousel-caption">
                        <h3><%= event.name %></h3>
								<p style="background: black; display: inline;">
										<%= event.description.first(180) %>
								</p>
						</div>
				</div>
				<% end %>
		</div>
		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
		<a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>





















<div class = "allcontain">
    <div class = "allHeadEvent">
        <h1>All Events</h1>
    </div>

    <div class="card-columns">
    <% @events.each do |event| %>
    <div class="card">
        <img class="card-img-top" src="<%= event.image %>" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title"><%= event.name %></h4>
            <% if user_signed_in? %>
            <%# if Favourite.find_by(event_id: event.id, user_id: current_user.id) %>
			<% if event.find_favourite(current_user) %>
                <%= link_to delete_fav_path(id: event.find_favourite(current_user).id), method: :delete , :achor do %>
					<i class="fas fa-heart fa-3x"></i>
				<% end %>
			<% else %>
					<%= link_to post_fav_path(id: event.id), method: :post do %>
                    <i class="far fa-heart fa-3x"></i>
            <%end%>
            <%end%>
			<%end%>

        <h5 class="card-title"><%= event.venue %></h5>
        <p class="card-text"></p>
        <p class="card-text"><%= event.starttime%></p>
        </div>
    </div>
    <%end%>
</div>


















