<div class = "allcontain">
    <div class = "allHeadEvent">
        <h1>All Events</h1>
    </div>

    <div class="card-columns">
    <% @events.each do |event| %>
    <div class="card">
        <img class="card-img-top" src="<%= event.image %>" alt="Card image cap">
        <div class="card-body">
        <h4 class="card-title"><%= event.name %></h4>
            <% if user_signed_in? %>
            <% unless Favourite.find_by(event_id: event.id, user_id: current_user.id) %>
                <%= link_to post_fav_path(id: event.id), method: :post do %>
                    <i class="fas fa-heart fa-3x"></i>
                <% end %>
            <% end %>
            <%end%>
        <h5 class="card-title"><%= event.venue %></h5>
        <p class="card-text"></p>
        <p class="card-text"><%= event.starttime%></p>
        </div>
    </div>
    <%end%>
</div>


















