
<%=link_to 'NEW EVENT', new_event_path %>

<h1>MY FAVOURITES</h1>
<table>
<% @favourites.each do |favourite| %>
<tr>
<td><%=favourite.event.name %></td>
<td></td>
</tr>
<%end%>
</table>

<h1>ALL EVENTS</h1>
<table>
<% @events.each do |event| %>
<tr>
    
        <td><Strong><%= event.name %></Strong></td>
        <td><%= event.venue %></td>
        <td><%= event.address %></td>
        <td><%= event.description %></td>
        <td><%= event.starttime %></td>
        <td><%= event.endtime %></td> 
        <td>
        <%= form_with scope: :event, url:post_fav_path(id:event.id) , local: true do |form| %>
        <p>
		<%= form.submit value: "my fav" %>
        </p> 
        <% end %>

        </td>

</tr>
 <% end %>
</table>


<%= link_to('Logout', destroy_user_session_path, method: :delete) %>   