<div class="container">
		<div class="row">
				<div class="col-sm-12">
						<h2>Log in</h2>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon1">@</span>
								</div>
								<%= f.text_field :login, class: "form-control", placeholder: "Username or Email" %>
						</div>
						<div class="input-group mb-3">
								<div class="input-group-prepend">
										<span class="input-group-text" id="inputGroup-sizing-default">Password</span>
								</div>
								<%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
						</div>
						<%=notice%>
						<%=alert%>
						<% if devise_mapping.rememberable? -%>
						<div class="form-check">
								<%= f.check_box :remember_me, class: "form-check-input", id: "defaultCheck1" %>
								<%= f.label :remember_me, class: "form-check-label", for: "defaultCheck1" %>
						</div>
						<% end -%>
						<div class="actions">
								<%= f.submit "Log in", class: "btn btn-primary" %>
						</div>
						<% end %>
				</div>
		</div>
		<div class="row">
				<div class="col-sm-12">
						<%= render "devise/shared/links" %>
				</div>
		</div>
</div>